html,
body{
  width: 100%;
  height: auto;
}

footer,
header{
  width: 100%;
  color: white;
}

header{
  position: absolute;
  top: 0px;
  height: 40px;
  background: brown;
}

footer{
  position: fixed;
  bottom: 0px;
  height: 40px;
  background: black;
}

footer ul {
  margin-top: 5px;
  display: inline-block;
}

ul{
  list-style: none;
}

header .bar-left{
  float: left;
}
header .bar-right .top-bar{
  float: right;
  margin-top: 10px;
  margin-right: 25px;
  display: inline;
}

header .bar-left .top-bar .item{
  position: relative;
  display: inline-block;
  padding: 5px;
}

header ul .item:hover{
  color: blue;
  cursor: pointer;
}

.has-error{
  border: 2px solid red;
}

.sucess{
  border: 2px solid green;
}
/* TEST CSS BACKGROUND OF GAME BOARD */

.bar {
  float: left;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.85);
  line-height: 5em;
  position: relative;
  height: 800px;
  width: 96%;
  background: rgba(230,240,255,0.4);
  border: 2px dashed transparent;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.bar:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.bar:hover { box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.25); }

.bar.over {
  border: 2px dashed rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.05);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
}

.bar:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
