<h1 style="">REGISTER!</h1>
<form name="registerForm" ng-submit="">
    <input name="registerEmail" type="email" ng-class="{'has-error':(registerForm.registerEmail.$invalid), 'sucess':(registerForm.registerEmail.$valid)}" ng-model="register.email" style="font-size:22px;color:black;text-align:center;" placeholder="email" />
    <input name="registerPassword" ng-class="{'has-error':(registerForm.registerPassword.$invalid), 'sucess':(registerForm.registerPassword.$valid)}" ng-model="register.password" style="font-size:22px;color:black;text-align:center;" placeholder="password"
    /><br />
    <a class="btn btn-success" ng-disabled="registerForm.$invalid" ng-click="register.tryRegister()" style="font-size:22px">Register</a>
</form>
<pre>
  {{ register | json }}
</pre>
<pre>
  {{ register.responseData | json }}
</pre>
