<ul class="top-bar">
    <ul class="bar-left">
        <li class="top-bar item">TEST ITEM 1</li>
    </ul>
    <ul class="bar-right">
        <li class="top-bar item">TEST ITEM 9</li>
    </ul>
</ul>
