<ul class="top-bar">
    <ul class="bar-left">
        <li class="top-bar item">
            <h4>GAME.IO</h4>
        </li>
    </ul>
    <ul class="bar-right">
        <li class="top-bar item" ng-click="changeLogin" ui-sref="login">LOGIN</li>
        <li class="top-bar item" ng-click="changeRegister" ui-sref="register">REGISTER</li>
    </ul>
</ul>
