<h1 style="">LOGIN!</h1>
<form name="loginForm" ng-submit="">
    <input name="loginEmail" type="email" ng-class="{'has-error':(loginForm.loginEmail.$invalid), 'sucess':(loginForm.loginEmail.$valid && login.email !== null)}" ng-model="login.email" style="font-size:22px;color:black;text-align:center;" placeholder="email"
    />
    <input name="loginPassword" ng-class="{'has-error':(loginForm.loginPassword.$invalid), 'sucess':(loginForm.loginPassword.$valid && login.password !== null)}" ng-model="login.password" style="font-size:22px;color:black;text-align:center;" placeholder="password"
    /><br />
    <button class="btn btn-success" ng-disabled="loginForm.$invalid || login.password == null || login.email == null" ng-click="login.tryLogin()" ng-keypress="login.keypress($event)" style="font-size:22px">Login</button>
</form>
<!-- <pre>
  {{login | json}}
</pre> -->

<h2>OR PLAY AS GUEST</h2>

<form name="guestForm">
    <input name="guestName" ng-model="guest.name" ng-class="{'has-error':(guestForm.guestName.$invalid), 'sucess':(guestForm.guestName.$valid && guest.name.length > 3)}" style="font-size:22px;color:black;text-align:center;" placeholder="name" /><br />
    <button class="btn btn-success" ng-click="guest.testName()" ng-disabled="guest.name == null || guest.name.length < 4" style="font-size:22px">Play</button>
</form>
<h1 ng-if="guest.oneOfUs">Jesteś jednym z nas! {{guest.name}}</h1>
<!-- <pre>
  {{guest | json}}
</pre> -->
